/* layout */
.container-full {
  margin: 0 auto;
  width: 100%;
}
nav[role="navigation"] {
	height:63px;
	background:#1D1B1B;
	border-radius:0;
	margin-bottom:0;
}
.hero {
	margin-bottom:25px;
}

footer ul {
	list-style-type:none;
	padding-left:0;
}